name: Basic Django testing

on: [push]

jobs:
  test:

    container:
      image:  node:10.16-jessie

    services:
      postgres:
        image: postgres:10.8
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: django
        ports:
        - 5432:5432
        # needed because the postgres container does not provide a healthcheck
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    name: Test on Python ${{ matrix.py_version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        py_version: [3.6, 3.7]

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python ${{ matrix.py_version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.py_version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Test with Djagno test runner
      env:
        DATABASE_URL: postgres://localhost/django:${{ job.services.postgres.ports[5432] }}
      run: python manage.py test
